<h1>Sign up</h1>

<div class="width">
    <% if flash[:error] -%>
        <% flash[:error].each do |e| %>
          <p class='error'><%= e %></p>
        <% end -%>
      <% end -%>
      <% if flash[:success] -%>
            <p class='notice'><%=h flash[:notice] %></p>
    <% end -%>
</div>

<div class="span6 offset3 forms">
    <%= form_for(@user) do |f| %>

        <p>
        <%= f.label :username %><br>
        <span class="grey_text"> (This should be your Twitter screen name)</span><br>
        <%= f.text_field :username %><br>
        </p>

        <p>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
        </p>

        <p>
        <%= f.label :password %><br>
        <%= f.password_field :password %>
        </p>

        <p>
        <%= f.label :password_confirmation, "Confirm Password" %><br>
        <%= f.password_field :password_confirmation %>
        </p>

        <p>
        <%= f.submit "Create my account" %>
        </p>
    <% end %>
</div>
