<% if @user == self.current_user %>
    <h1>Welcome <%= @user.username %></h1>
<% else %>
    <h1><%= @user.username %></h1>
<% end %>

<div class="width">
    <% if flash[:error] -%>
          <p class='error'><%=h flash[:error] %></p>
          <% flash[:error] = false %>
      <% end -%>
      <% if flash[:notice] -%>
          <p class='notice'><%=h flash[:notice] %></p>
          <% flash[:notice] = false %>
    <% end -%>
</div>

<div class="twocolumn">
    <%= image_tag(@user.userimage, :size=>"200x200") %>
    <div class="profileinfo">
        <table width="100%">
            <tr>
                <td><h2>Twitter Name:</h2></td>
                <td><h2><%= @user.username %></h2></td>
            </tr>
            <tr>
                <td><h2>Twitter ID:</h2></td>
                <td><h2><%= @user.userid %></h2></td>
            </tr>
            <tr>
                <td><h2>Created At:</h2></td>
                <td><h2><%= @user.created  %></h2></td>
            </tr>
            <tr>
                <td><h2>Score:</h2></td>
                <td><h2><%= @user.score %></h2></td>
            </tr>
            <tr>
                <td><h2>Follower Count:</h2></td>
                <td><h2><%= @user.follower_count %></h2></td>
            </tr>
            <tr>
                <td><h2>Friend Count:</h2></td>
                <td><h2><%= @user.friend_count %></h2></td>
            </tr>
            <tr>
                <td><h2>Favourite Count:</h2></td>
                <td><h2><%= @user.favourite_count %></h2></td>
            </tr>
        </table>
    </div>

    <div class="profileimg">
        <span class="helper"></span>
    </div>
</div>
