<h1>Welcome <%= @user.username %></h1>

<div class="bar">
    <%= link_to "About", root_url, :class=>"button" %>
    <%= link_to "Logout", "/logout", :class=>"button" %>
    <%= link_to "Rankings", "/rankings", :class=>"button" %>
    <%= link_to "Update Info", "/users/#{@user.id}/edit", :class=>"button" %>
</div>
