<h1>Rankings</h1>

<div class="bar">
    <%= link_to "About", root_url, :class=>"button" %>
    <%= link_to "Home", user_path(self.current_user), class:"button" %>
    <%= link_to "Logout", "/logout", :class=>"button" %>
    <%= link_to "Rankings", "/rankings", :class=>"button" %>
    <%= link_to "Update Info", "/users/#{@user.id}/edit", :class=>"button" %>
</div>

<h2><%= @user.username %> and their followers:</h2>

<div>
    <% @followers.each do |user| %>
        <p><%= user.username %> -- <%= user.score %></p>
    <% end %>
</div>
